/* =========================================================================
   Variables
   ========================================================================= */

/* Sizes, Margins, Heights, Widths, ...
   ========================================================================= */
$size-base: 12px;

/* Colors
   ========================================================================= */
$color-background: #e5e5e5;
$color-text: #232626;

$color-background-header: #3b4b4f;
$color-text-header: #fffec3;